<h4>Recently Found!</h4>
<div id="carouselId" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselId" data-slide-to="0" class="active"></li>
        <li data-target="#carouselId" data-slide-to="1"></li>
        <li data-target="#carouselId" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="card float-left">
                <div class="row ">

                    <div class="col-sm-7">
                        <div class="card-block">
                            <!--           <h4 class="card-title">Small card</h4> -->
                            <p>Wetgple text to build your own card.</p>
                            <p>Change around the content for awsomenes</p>
                            <a href="#" class="btn btn-primary btn-sm">Read More</a>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <img class="d-block w-100" src="https://picsum.photos/150?image=380" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card float-left">
                <div class="row ">

                    <div class="col-sm-7">
                        <div class="card-block">
                            <!--           <h4 class="card-title">Small card</h4> -->
                            <p>Wetgple text to build your own card.</p>
                            <p>Change around the content for awsomenes</p>
                            <a href="#" class="btn btn-primary btn-sm">Read More</a>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <img class="d-block w-100" src="https://picsum.photos/150?image=380" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">


            <div class="card float-right">
                <div class="row">
                    <div class="col-sm-5">
                        <img class="d-block w-100" src="https://picsum.photos/150?image=641" alt="">
                    </div>
                    <div class="col-sm-7">
                        <div class="card-block">
                            <!--           <h4 class="card-title">Small card</h4> -->
                            <p>Copy paste the HTML and CSS.</p>
                            <p>Change around the content for awsomenes</p>
                            <br>
                            <a href="#" class="btn btn-primary btn-sm float-right">Read More</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



