html,
body {
  height: 100%;
}

.global-container {
  /* height: 90vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin-top: 150px;
}

form {
  padding-top: 10px;
  font-size: 14px;
  margin-top: 30px;
}

.card-title {
  font-weight: 300;
}

.btn {
  font-size: 14px;
  margin-top: 20px;
}

.login-form {
  width: 50%;
  margin: 20px;
}

.sign-up {
  text-align: center;
  padding: 20px 0 0;
}

.alert {
  margin-bottom: -30px;
  font-size: 13px;
  margin-top: 20px;
}
