<div class="container">
    <div class="first">
        <form>
            <div class="form-group">
                <label for=""></label>
                <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                    placeholder="Search your name here">
                <small id="helpId" class="form-text text-muted"></small>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>

        </form>
    </div>

    <app-recentlyfound></app-recentlyfound>
</div>